<div class="row" *ngIf="!edit; else editAddress" style="height: 35px">
  <h4 class="col-sm-5 offset-sm-3 col-md-4 offset-md-4 text-center align-middle">{{address}}</h4>
  <button (click)="toggleMode()" type="button" class="btn btn-success" vkToggle>Edit</button>
</div>

<ng-template #editAddress>
  <div class="row" style="height: 35px">
    <vk-keyboard></vk-keyboard>
    <input class="col-sm-5 offset-sm-3 col-md-4 offset-md-4 align-middle" type="text"  vkToggle vkInput [(ngModel)]="address">
    <button (click)="saveEdits()" type="button" class="btn btn-primary ml-3">Save edits</button>
  </div>

</ng-template>


