<div class="container bg-dark mt-5 text-white ">
  <app-console-bar [apartmentAddress]="(apartment$ | async)?.address"></app-console-bar>
  <div class="row mt-5 align-content-center">
    <app-console-display  class="offset-sm-1 col-sm-3 py-4 text-center text-white border border-light" [value]="(selectedRoom === null || selectedRoom === undefined) ? (reading$ | async)?.temp: selectedRoom.progTemp" [format]="'°C'" [tag]="'programmed'"></app-console-display>
    <app-console-display class="ml-sm-3 ml-md-5 col-sm-3 py-4 text-center text-white border border-light" [value]="(reading$ | async)?.temp" [format]="'°C'" [tag]="'current'"></app-console-display>
    <app-console-display class="ml-sm-3 ml-md-5 col-sm-3 py-4 text-center text-white border border-light" [value]="(reading$ | async)?.hum" [format]="'%'" [tag]="'humidity'"></app-console-display>
  </div>
  <app-console-toolbar [room]="selectedRoom" (changeStatus)="activate($event)" (changeTemp)="updateProgTemp($event)"></app-console-toolbar>
  <app-console-room-pagination (roomChanged)="updateDisplay($event)" [rooms]="(apartment$ | async)?.rooms"></app-console-room-pagination>
</div>


