<div class="container mt-5">
  <form class="col-6 offset-3 mt-3" #regForm="ngForm" (ngSubmit)="submit($event)">
    <!-- USERNAME -->
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Username"
             required [(ngModel)]="model.username" #user="ngModel">
      <span id="userErrors" [hidden]="user.valid || user.pristine" class="text-danger">Inserire username</span>
    </div>
    <!-- PASSWORD -->
    <div class="form-group">
      <label class="form-check-label" for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password"  #password="ngModel"
             required [(ngModel)]="model.password">
      <span id="passwordErrors" [hidden]="password.valid || password.pristine" class="text-danger">
      Inserire password
    </span>
    </div>

    <!-- BUTTONS -->
    <div class="form-group">
      <button type="reset" class="btn btn-primary col-3 offset-2">Reset</button>
      <button type="submit" [ngClass]="{disabled: regForm.invalid}" class="btn btn-primary col-3 offset-1">Login</button>
    </div>

    <div *ngIf="serverErrors" class="alert alert-danger" role="alert">
      An error has occured on the server, please check console logs.
    </div>

    <div *ngIf="serverErrors.error && regForm.submitted" class="alert alert-danger" role="alert">
      <b >{{serverErrors.message}}</b>
    </div>

    <div *ngIf="!serverErrors.error && regForm.submitted" class="alert alert-success" role="alert">
      <b >{{serverErrors.message}}</b>
    </div>

  </form>
</div>
